arabic-reshaper==2.1.1
asgiref==3.2.10
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
cryptography==3.1.1
Django==3.0.7
django-admin-thumbnails==0.2.5
django-ckeditor==5.9.0
django-crispy-forms==1.10.0
django-currencies==0.10.1
django-filer==2.0.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==3.0.0
django-xhtml2pdf==0.0.4
easy-thumbnails==2.7.1
future==0.18.2
html5lib==1.1
idna==2.9
jsonfield==2.1.1
Pillow==7.1.2
psycopg2==2.8.6
pycparser==2.20
PyPDF2==1.26.0
python-bidi==0.4.2
python-gettext==4.0
pytz==2020.1
reportlab==3.5.59
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
Unidecode==1.1.2
urllib3==1.25.9
webencodings==0.5.1
xhtml2pdf==0.2.5
